/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

/*Variables*/
/*kolor logo*/
/*kolor portfolio*/
/*kolor jasny*/
/*kolor ciemny*/
/*Global style button*/
.btn-splash {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  background-color: #f39c12;
  transition: all 1s;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  color: #2c2c54;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

/*splash*/
.splash {
  height: 100vh;
  position: relative;
  background-image: url("/images/night-working.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firm-logo {
  font-family: "Pacifico", cursive;
  color: #f39c12;
  font-size: 30px;
  font-weight: 500px;
}

.main-nav {
  font-family: "PT Serif", serif;
}

.main-nav ul {
  padding: 0 0;
  margin: 30 0;
  list-style-type: none;
}

.main-nav li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.main-nav li a {
  text-decoration: none;
  color: #ffffff;
}

.page-title {
  color: #ffffff;
  font-size: 60px;
  font-family: "PT Serif", serif;
  margin: 48px 0 0 0;
  position: relative;
}

.page-subtitle {
  color: #ffffff;
  font-size: 30px;
  font-family: "Berkshire Swash", cursive;
  margin: 48px 0 0 0;
}

/*Services*/
.section-title {
  color: #2c2c54;
  font-size: 60px;
  font-family: "PT Serif", serif;
  margin: 24px 0 0 0;
  position: relative;
}

.section-subtitle {
  color: #2c2c54;
  font-size: 20px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  margin: 24px 0 0 0;
}

.service i {
  font-size: 40px;
  background: #ffffff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #f39c12;
  border-radius: 50%;
  border-style: solid;
  border-color: #f39c12;
}

.service h2 {
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: #2c2c54;
}

.service p {
  font-family: "PT Serif", serif;
  font-size: 14px;
  color: #2c2c54;
}

/*Portfolio*/
.portfolio {
  background-color: #dfe6e9;
  padding-top: 40px;
}

.portfolio-card {
  background-color: #dfe6e9;
  margin: 0 0;
  padding: 0 0;
}

.portfolio-card h2 {
  background-color: #ffffff;
  width: 80%;
  font-family: "PT Serif", serif;
  font-size: 30px;
  object-fit: cover;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5;
  margin: 0 0;
  margin-left: 10%;
}

.portfolio-card p {
  background-color: #ffffff;
  width: 80%;
  font-family: "PT Serif", serif;
  font-size: 18px;
  object-fit: cover;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5;
  margin: 0 0;
  margin-left: 10%;
  margin-bottom: 40px;
}

.portfolio-card img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */