/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}
/*Variables*/

/*kolor logo*/
$color-logo: #f39c12;
/*kolor portfolio*/
$color-portfolio: #dfe6e9;
/*kolor jasny*/
$color-light: #ffffff;
/*kolor ciemny*/
$color-dark: #2c2c54;

$font-text: 'Berkshire Swash', cursive;

$font-header: 'PT Serif', serif;

$font-logo: 'Pacifico', cursive;

$transition: all 1s;
/*Global style button*/
.btn-splash {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 20px;
		color: $color-light;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
		background-color: $color-logo;
    transition: $transition;
}

body {
    margin: 0;
    text-align: center;
    font-family: $font-text;
    color: $color-dark;
    font-size: 20px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.section {
    padding: 96px 0;
}
/*splash*/
.splash {
    height: 100vh;
    position: relative;
    background-image: url('/images/night-working.jpeg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.firm-logo {
		font-family: $font-logo;
		color: $color-logo;
		font-size: 30px;
		font-weight: 500px;
}
.main-nav {
		font-family: $font-header;

		ul {
				padding: 0 0;
				margin: 30 0;
				list-style-type: none;
			}
		li {
				position: relative;
				display: inline-block;
				margin-right: 20px;
				a {
		        text-decoration: none;
		        color: $color-light;
		      }
			}
}

.page-title {
    color: $color-light;
    font-size: 60px;
    font-family: $font-header;
    margin: 48px 0 0 0;
    position: relative;
}
.page-subtitle {
    color: $color-light;
    font-size: 30px;
		font-family: $font-text;
    margin: 48px 0 0 0;
}
/*Services*/
.section-title {
    color: $color-dark;
    font-size: 60px;
    font-family: $font-header;
    margin: 24px 0 0 0;
    position: relative;
}
.section-subtitle {
    color: $color-dark;
    font-size: 20px;
		font-family: $font-header;
		font-weight: bold;
    margin: 24px 0 0 0;
}
.service i {
	font-size: 40px;
	background: $color-light;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: $color-logo;
	border-radius: 50%;
	border-style: solid;
	border-color: $color-logo;
}
.service h2 {
			font-family: $font-header;
			font-size: 20px;
			color: $color-dark;
		}
.service	p {
			font-family: $font-header;
			font-size: 14px;
			color: $color-dark;
	}
/*Portfolio*/
.portfolio {
		background-color: $color-portfolio;
		padding-top: 40px;
}
.portfolio-card {
		background-color: $color-portfolio;
		margin: 0 0;
		padding: 0 0;
		h2 {
			background-color: $color-light;
			width: 80%;
			font-family: $font-header;
			font-size: 30px;
			object-fit: cover;
			vertical-align: middle;
			text-align: center;
			line-height: 1.5;
			margin: 0 0;
			margin-left: 10%;
		}
		p {
			background-color: $color-light;
			width: 80%;
			font-family: $font-header;
			font-size: 18px;
			object-fit:cover;
			vertical-align: middle;
			text-align: center;
			line-height: 1.5;
			margin: 0 0;
			margin-left: 10%;
			margin-bottom: 40px;
		}
		img {
    	width: 80%;
    	height: 300px;
    	object-fit: cover;
			vertical-align: middle;
		}
}
